@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Nunito+Sans&display=swap');

/* css reset */
:root {
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Nunito Sans', sans-serif;
    --text: #1a1a1a;
    --primary: #00B172;
    --secondary: #fff;
}

*, *::before, *::after {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-family: 'Nunito Sans', sans-serif;
}
header img{
    height: 5rem;
    margin: 0 auto 0 2rem;
}
.navlinks{
    list-style: none;
    justify-content: flex-end;
}
.navlinks li{
    display: inline-block;
    padding: 0 1.2rem;
}
.navlinks a{
    text-decoration: none;
    color: var(--text);
    font-size: 2rem;
    border-radius: 8px;
}
.navlinks a:hover{
    text-decoration: none;
    color: var(--text);
    background-color: #00B172;
}

/* hero section */
.hero {
    background-image: url("/images/landing.jpg");
    background-color: var(--primary); 
    height: 1111px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero h1{
    font-family: 'JetBrains Mono', monospace;
    font-size: 8rem;
}
.herotext{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}
.herotext p{
    font-size: 3rem;
    margin-top: 2rem;
}

/* card section */
.infocardsec h2{
text-align: center;
margin: 2rem;
text-decoration: underline var(--primary);
font-size: 4rem;
font-weight: 800;
}
.infocards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 5rem auto 9rem auto;
    padding: 2rem;
}
.card img{
    height: 88px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.cardtext{
    text-align: center;
    font-size: 2rem;
}
.cardtext h3{
    color: var(--primary);
    font-size: 3rem;
   
}

/* app features section */
.green{
    background-color: var(--primary);
    color: var(--secondary);
    margin: 0 2rem 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.whitelogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.whitelogo img{
    height: 9rem;
}
.mobileapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mobileapp img{
    height: 51rem;
}
.greentext{
    padding-left: 1rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.greentext h2{
    font-size: 3.8rem;
    text-decoration: underline;
}